{ font-weight: normal; }
{
    margin: 0;
    padding: 0;
    border: 0;
}
.box{
    background: url(..img/1111.jpg);
    height: 1500px;
    background-repeat: no-repeat;
    background-size:cover;   
}
